name: dandi Testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

permissions:
  contents: read

jobs:
  dandi-testing:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10"]

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        version: "0.6.11"

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install the project
      run: uv sync --all-extras

    - name: Download sample dataset
      run: |
        uv run brainsets config --raw-dir data/raw --processed-dir data/processed
        uv run brainsets prepare pei_pandarinath_nlb_2021
    
    - name: Download sample dataset 4
      run: |
        uv run brainsets config --raw-dir data/raw --processed-dir data/processed
        uv run brainsets prepare churchland_shenoy_neural_2012